.thumbnailContainer {
  /* height: 120px;
  width: 67.5px; */
  height: 100px;
  width: 100px;
  color: black;
  border-radius: 5px;
  margin: 0.5em;

  background-size: cover;

  cursor: pointer;
}
h1 {
  color: black;
}
.imageContainer {
  position: relative;
  /* height: calc(100vh - 180px); */
  width: 444px;
  background-size: cover;
  display: flex;
  /* align-self: center; */
}
#image {
  /* height: 100%; */
  width: 100%;
  /* background-size: cover;
  position: absolute; */
  object-fit: contain;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.leftButton {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  z-index: 1;
}
.rightButton {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  z-index: 1;
}
.rightButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.leftButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.hotspots {
  position: absolute;
  height: 100%;
  width: 444px;
}
.hotspot a {
  z-index: 10;
}
.circle {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid;
  z-index: 2;
  color: white;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}
a {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

.hotspot:hover {
  cursor: pointer;
}

.cross {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 24px;
  z-index: 6;
}
.lastStoryText {
  z-index: 6;
  position: absolute;
  color: white;
  top: 0;
}
/* For tablet sized screens */
@media screen and (max-width: 768px) {
  .thumbnailContainer {
    /* height: 120px;
    width: 67.5px; */
    height: 75px;
    width: 75px;
    margin: 0.25em;
  }
}
@media screen and (max-width: 444px) {
  #image {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
  }
  .hotspots {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .cross {
    right: 6%;
    top: 2%;
    margin: 0;
    font-size: 32px;
    color: white;
    opacity: 0.6;
  }
}
