.homeContainer {
    padding: 8em;
}
.storyLine {
    
}

@media screen and (max-width:768px){
    .homeContainer {
        padding: 4em;
    }
}
@media screen and (max-width:460px){
    .homeContainer {
        padding: 2em 0.25em 0.25em 0.25em ;
    }
}