.Nav {
  background-color: #2f5c87;
  height: 7.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

h4 {
  margin: 0;
  padding-left: 3em;
  color: white;
}
.logo {
  width: 70%;
  display: flex;
}
.navLinks {
  width: 30%;
}

.navItems {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navLink {
  color: white;
  cursor: pointer;
}
